<div class="outer-div">

  <div class="register-div">

    <h3>e-mail</h3>
    <input ng-model="usersCtrl.newUser.email">
    <h3>password</h3>
    <input ng-model="usersCtrl.newUser.password">
    <select ng-model="usersCtrl.newUser.appRoleId">
      <option value="1">id=1 administrator</option>
      <option value="2">id=2 client</option>
      <option value="3">id=3 young-attorney</option>
      <option value="4">id=4 experienced-attorney</option>
    </select>
    <button class="btn btn-default" ng-click="usersCtrl.register(usersCtrl.newUser)">Register</button>

  </div>

  <div class="login-div">

    <h3>e-mail</h3>
    <input ng-model="usersCtrl.user.email">
    <h3>password</h3>
    <input ng-model="usersCtrl.user.password">
    <button class="btn btn-default" ng-click="usersCtrl.login(usersCtrl.user)">Login</button>

  </div>

  <button ng-click="usersCtrl.logout()">Logout</button>

</div>
