<div class="outer-div">

  <div class="register-div">

    <h3>e-mail</h3>
    <input ng-model="email">
    <h3>password</h3>
    <input ng-model="password">
    <button class="btn btn-default" ng-click="registerNewUser()">Register</button>

  </div>

  <div class="login-div">

    <h3>e-mail</h3>
    <input ng-model="userEmail">
    <h3>password</h3>
    <input ng-model="userPassword">
    <button class="btn btn-default" ng-click="loginUser()">Login</button>

  </div>

  <button ng-click="logout()">Logout</button>

</div>
